@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 50px;
    background: rgba(0, 0, 0, 0.3);
}

.nav {
    width: 100%;
    margin: 0 auto;
}

.nav, .nav_item {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav_logo, .nav_link, .button {
    color: #ffde59;
}

.nav_logo {
    font-size: 25px;
    font-weight: 700;
}

.nav_item {
    column-gap: 35px;
}

.nav_link:hover {
    color: #d9d9d9;
}

.nav .button {
    color: #ffde59;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 24px;
    border: 2px solid #fff;
    background: transparent;
    backdrop-filter: blur(6px);
    border-radius: 6px;
    cursor: pointer;
}

.nav .button:active {
    transform: scale(0.98);
}

/* History */

.history {
    position: relative; 
    width: 100%;
    min-height: 100vh;
    background-image: url("bgall.png");
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.table {
    position: relative;
    max-width: 90%;
    width: 80%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    border-radius: 12px;
    border-collapse: collapse;
}

.img {
    width: 300px;
    height: 200px;
    object-fit: fill;
    border-radius: 8px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 0;
}

.table-header h2 {
    color: #ffde59;
    margin: 5px auto;
}

.table-sections {
    overflow: auto;
    max-height: 70vh;
}

table {
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
}

thead th {
    position: sticky;
    top: 0;
    background-color: transparent;
    color: whitesmoke;
    font-size: 15px;
}

th, td {
    border-bottom: 1px solid #fff;
    padding: 5px 10px;
    word-break: break-all;
    text-align: center;
    color: #ffde59;
}

td img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 5px;
}

tr:hover td {
    color: #ffde59;
    cursor: pointer;
    background-color: rgba(234, 222, 222, 0.3);
}

button {
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px 13px;
    margin: 3px;
    color: #fff;
}

td button:nth-child(1) {
    background-color: #ffde59;
}

td button:nth-child(1):hover {
    background-color: #3d3d3d;
}

td button:nth-child(2) {
    background-color: #000;
}

td button:nth-child(2):hover {
    background-color: #3d3d3d;
}
